/
/*
   Styling
  */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #333;
    font-weight: 300;
    margin: 3.5em;
    padding: 40px;
    border: 15px solid #D6C489;
}

a {
    color: #964848;
}

p {
    margin: 0 0 1em;
    line-height: 1.4;
    font-size: 1.12em;
}

h1 {
    margin: 0 0 1.5em;
    font-weight: 500;
    font-size: 1.8em;
    text-align: left;
}

h2 {
    margin: 0 0 0.8em;
    font-weight: 600;
    font-size: 1.6em;
    text-align: left;
    text-decoration: none;
    border-bottom: 5px solid #7E8D60;
    display: inline-block;
    padding-bottom: 2.5px;
}

.section {
    margin-bottom: 4rem;
}

.hero {
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.8em;
    width: 92%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav {
    margin-bottom: 2rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.2rem;
    background-color: #D6C489;
    color: rgb(48, 48, 48);
    text-align: center;
}