.desc {
    margin: 0 15rem;
    font-size: 18px;
    font-style: italic;
    text-align: left;
    font-weight: 200;
    line-height: 1.4;
}

.ingredients {
    background-color: rgba(214, 196, 137, 0.123);
    display: block;
    justify-content: center;
    font-size: 21px;
    color: #5F5D5D;
    margin: 0 15rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 600;
}

.startcooking {
    justify-content: center;
    font-size: 21px;
    color: #5F5D5D;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 600;
}

.stepinst {
    display: block;
    margin: 0 15rem;
}

.stepcontainer {
    display: block;
    margin: 0 15rem;
    line-height: 1.5;
}

.info {
    text-align: center;
    font-size: 28px;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    font-weight: 525;
    text-transform: uppercase;
}

.recsubtitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 2rem;
    font-weight: 400;
    color: rgb(66, 65, 65);
}

.mainimg {
    display: block;
    margin: 0 auto;
    height: 50%;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 6px solid #7E8D60;
    box-shadow: 2px 4px 8px #88888893;
}

.ingredientspic {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 75%;
    height: 75%;
    margin: 0 15rem;
}

.list {
    display: block;
    margin: 0 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 18px;
    text-align: left;
    background-color: rgba(214, 196, 137, 0.123);
}

.steppic {
    max-width: 400px;
    height: 300px;
    margin: 1rem;
}

.step_parent {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    font-size: 18px;
}

.ing_img {
    width: 350px;
    height: 260px;
}

.step_img {
    width: 450px;
    height: 300px;
}

.step_childtxt {
    margin: 0 15rem;
    align-self: flex-start;
    max-width: 875px;
    color: rgb(77, 74, 74);
    font-size: 16px;
}

.ingredients {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

@media screen and (min-width: 320px) {
    .ingredientspic {
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 50%;
        height: 50%;
    }
    .desc {
        margin: 0 6rem;
        font-size: 14px;
        font-style: italic;
        text-align: left;
        font-weight: 200;
        line-height: 1.4;
    }
    .ingredients {
        background-color: rgba(214, 196, 137, 0.123);
        display: block;
        justify-content: center;
        font-size: 21px;
        color: #5F5D5D;
        margin: 0 6rem;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 600;
    }
    .list {
        display: block;
        margin: 0 6rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 14px;
        text-align: left;
        background-color: rgba(214, 196, 137, 0.123);
    }
    .step_childtxt {
        margin: 0 6rem;
        align-self: flex-start;
        max-width: 875px;
        color: rgb(77, 74, 74);
        font-size: 14px;
    }
}

@media screen and (min-width: 800px) {
    .ingredientspic {
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 50%;
        height: 50%;
    }
    .desc {
        margin: 0 15rem;
        font-size: 18px;
        font-style: italic;
        text-align: left;
        font-weight: 200;
        line-height: 1.4;
    }
    .ingredients {
        background-color: rgba(214, 196, 137, 0.123);
        display: block;
        justify-content: center;
        font-size: 18px;
        color: #5F5D5D;
        margin: 0 15rem;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 600;
    }
    .list {
        display: block;
        margin: 0 15rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 18px;
        text-align: left;
        background-color: rgba(214, 196, 137, 0.123);
    }
    .step_childtxt {
        margin: 0 15rem;
        align-self: flex-start;
        max-width: 875px;
        color: rgb(77, 74, 74);
        font-size: 16px;
    }
}