.desc {
    display: block;
    margin: 0 15rem;
    font-size: 18px;
    font-style: italic;
    text-align: left;
    font-weight: 200;
    line-height: 1.4;
}

.ingredients {
    background-color: rgba(214, 196, 137, 0.219);
    display: block;
    justify-content: center;
    font-size: 21px;
    color: #5F5D5D;
    margin: 0 15rem;
    text-align: center;
    font-weight: 600;
}

.stepinst {
    display: block;
    margin: 0 15rem;
}

.stepcontainer {
    display: block;
    margin: 0 15rem;
    line-height: 1.5;
}

.info {
    text-align: center;
    font-size: 28px;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    font-weight: 525;
    text-transform: uppercase;
}

.recsubtitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 2rem;
    font-weight: 400;
    color: rgb(66, 65, 65);
}

.mainimg {
    display: block;
    margin: 0 auto;
    height: 50%;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 6px solid #7E8D60;
    box-shadow: 2px 4px 8px #88888893;
}

.ingredientspic {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.list {
    display: block;
    margin: 0 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 18px;
    text-align: left;
}

.steppic {
    max-width: 450px;
    margin: 1rem;
}